<main>
    <section>
        <div class="noticePage sec_wrap">
            <a href="notice"><h2>NOTICE</h2></a>
            <!-- <div class="button"><a href="notice_write">작성하기</a></div> -->
            <div class="noticePage_wrap p100_50">
                <ul>
                    <% for(i=0; i<9; i++){%> <% let regisDate = rows[i].create_time.getDate(); %> <% let regisMonth =
                    rows[i].create_time.getMonth()+1; %> <% let regisYear = rows[i].create_time.getFullYear(); %>
                    <li>
                        <input type="hidden" name="id" value="<%= rows[i].name %>" />
                        <a onclick="javascript:location.href='/notice_detail?id=<%= rows[i].id %>'">
                            <h5 class="kr"><%= rows[i].title %></h5>
                            <div class="notice_date">
                                <div class="date"><%= regisDate %></div>
                                <div class="month year"><%= regisYear %> . <%= regisMonth %></div>
                            </div>
                        </a>
                    </li>
                    <% }; %>
                </ul>
            </div>
            <div class="notice_gnb">
                <div class="number_list">
                    <div class="prev"></div>
                    <ul>
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                    <div class="next"></div>
                </div>
                <div class="btn_wrap">
                    <span class="notice_btn"
                        ><a href="notice_write"><input value="WRITE" type="button" /></a
                    ></span>
                </div>
            </div>
        </div>
    </section>
</main>
