<main>
    <div class="product_detail p100">
        <div class="p_detail_wrap sec_wrap">
            <div class="product_img p50all">
                <img src="<%= row.product_img %>" alt="" />
                <img src="<%= row.product_img %>" alt="" />
                <img src="<%= row.product_img %>" alt="" />
            </div>
            <div class="product_info p50all">
                <div class="p_info_wrap">
                    <div class="fg_title">
                        <div class="fg_categories">
                            <h5><%= row.category %></h5>
                        </div>
                        <div class="store_filter">
                            <!-- <h4>filter</h4> -->
                            <span></span>
                        </div>
                    </div>
                    <div class="name">
                        <p class="kr"><%= row.store_name %></p>
                        <h4 class="kr"><%= row.product_name %></h4>
                    </div>
                    <div class="detail">
                        <div class="description">
                            <pre><%= row.product_detail %></pre>
                        </div>

                        <div class="wrap">
                            <div class="price">
                                <p>PRICE :</p>
                                <p><%= row.price %>￦</p>
                            </div>
                            <div class="delievery">
                                <p>DELIVERY :</p>
                                <p>2500￦</p>
                                <span class="kr">(2만원 이상 구매시 무료배송)</span>
                            </div>
                        </div>
                    </div>
                    <div class="bottom">
                        <p class="warning">※해당 사진은 연출을 위해 찍은것으로 상품의 실제 모습과 차이가 날 수 있습니다</p>
                        <div class="button_wrap">
                            <div class="button"><a href="">BUY IT NOW</a></div>
                            <div class="button"><a href="">ADD TO CART</a></div>
                            <div class="button"><a onclick="javascript:location.href='/updateP?id=<%= row.id %>'">MODIFY</a></div>
                            <div class="button"><a onclick="javascript:location.href='/deleteP?id=<%= row.id %>'">DELETE</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
