<main>
    <div class="cart_slide">
        <div class="monotone"></div>
        <div class="cart_wrap">
            <div class="cart_top_wrap">
                <div class="cart_top">
                    <h4>YOUR CART</h4>
                    <span class="cart_close"></span>
                </div>
                <ul class="cart_products">
                    <li>
                        <div>
                            <img src="img/chicken.png" alt="" />
                            <h5 class="kr">닭꼬치</h5>
                            <p class="kr">순이네 분식</p>
                            <p>2000원</p>
                        </div>
                        <div class="product_count">
                            <div class="minus_product"><span></span></div>
                            <div><h5 class="kr">1</h5></div>
                            <div class="plus_product"><span></span><span></span></div>
                        </div>
                        <div class="button"><a href="">DELETE</a></div>
                    </li>
                </ul>
            </div>
            <div class="checkout">
                <div>
                    <h4>TOTAL:</h4>
                    <h4>2000원</h4>
                </div>
                <div class="button"><a href="">CHECKOUT</a></div>
            </div>
        </div>
    </div>
    <div class="store p100">
        <div class="sec_wrap">
            <h2 class="p50">STORE</h2>
            <div class="store_content">
                <div class="foods">
                    <div class="fg_title">
                        <div class="fg_categories">
                            <h5>FOODS ></h5>
                            <a href=""><h5>VEGETABLE /</h5></a>
                            <a href=""><h5>MEAT /</h5></a>
                            <a href=""><h5>FISH /</h5></a>
                            <a href=""><h5>VISTRO /</h5></a>
                            <a href=""><h5>DESSERT</h5></a>
                        </div>
                        <div class="store_filter">
                            <!-- <h4>filter</h4> -->
                            <span></span>
                        </div>
                    </div>
                    <div class="fg_contents p50">
                        <% rows1.forEach((row,index)=>{%>
                        <!-- <input type="hidden" name="id" value="<%= row.id %>" /> -->
                        <div>
                            <div class="img_wrap" onclick="javascript:location.href='/product_d?id=<%= row.id %>'">
                                <img src="<%= row.product_img %>" alt="" />
                            </div>
                            <div class="fg_info">
                                <h5 class="kr"><%= row.product_name %></h5>
                                <p class="kr store_name"><%= row.store_name %></p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr"><%= row.price %>￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <div class="button"><a href="">button</a></div>
                </div>
                <div class="goods">
                    <div class="fg_title">
                        <div class="fg_categories">
                            <h5>GOODS ></h5>
                            <a href=""><h5>CLOTHING /</h5></a>
                            <a href=""><h5>LIVING /</h5></a>
                            <a href=""><h5>WELLNESS /</h5></a>
                            <a href=""><h5>ACCESSORIES /</h5></a>
                            <a href=""><h5>ETC</h5></a>
                        </div>
                        <div class="store_filter">
                            <!-- <h4>filter</h4> -->
                            <span></span>
                        </div>
                    </div>
                    <div class="fg_contents p50">
                        <% rows2.forEach((row,index)=>{%>
                        <div>
                            <div class="img_wrap"><img src="<%= row.product_img %>" alt="" /></div>
                            <div class="fg_info">
                                <h5 class="kr"><%= row.product_name %></h5>
                                <p class="kr store_name"><%= row.store_name %></p>
                                <div class="cart">
                                    <p>ADD TO CART</p>
                                    <p class="kr"><%= row.price %>￦</p>
                                    <span></span>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                    </div>
                    <div class="button"><a href="">button</a></div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="js/store.js"></script>
